*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  height: 100%;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

/* FONDO CON TU FOTO */
body{
  min-height: 100vh;
  background-image: url("img/fondo.jpg");
  background-size: cover;
  background-position: 45% 20%;
  background-repeat: no-repeat;
}

/* OSCURECIDO ELEGANTE */
body::before{
  content:"";
  position: fixed;
  inset: 0;
  background:
    radial-gradient(70% 55% at 50% 18%, rgba(0,0,0,.1), rgba(0,0,0,.8)),
    linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,.9));
  z-index: -1;
}

/* CONTENEDOR CENTRAL */
.container{
  max-width: 420px;
  margin: auto;
  padding: 30px 20px;
  text-align: center;
  color: white;
}

/* LOGO */
.logo{
  width: 140px;
  margin-bottom: 10px;
  filter: invert(1) brightness(2);
}

/* BOTONES */
.button{
  display: block;
  margin: 15px 0;
  padding: 16px;
  background: linear-gradient(180deg, #ff1a1a, #b00000);
  color: white;
  text-decoration: none;
  border-radius: 14px;
  font-weight: bold;
  box-shadow: 0 10px 25px rgba(0,0,0,.4);
}

.button:hover{
  opacity: .95;
}
